@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Award winning seafood and where everyone wants to be. The freshest fish, succulent shellfish, oystes nestled in beds of ice and the most colossal seafood towers are here. A true west coast dining experience.</p>
